extends ../_layout

block content
  .container
    .row.centered-form
      .col-xs-12.col-sm-8.col-md-4.col-sm-offset-2.col-md-offset-4
        .panel.panel-default
          .panel-heading
            h3.panel-title Update account
          .panel-body
            form(role='form' method="post")
              .form-group
                input#firstname.form-control.input-sm(type='text', name='firstname', placeholder='First Name')
              .form-group
              input#lastname.form-control.input-sm(type='text', name='lastname', placeholder='Last Name')
              .form-group
                input#email.form-control.input-sm(type='email', name='email', placeholder='Email')
              input.btn.btn-info.btn-block(type='submit', value='Save')

