html(lang="bg")
    head
        meta(charset="UTF-8")
        block page-title
        link(rel="stylesheet", href="./libs/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="./static/styles/main.css")  
        link(rel="shortcut icon" type="image/x-icon" href="./static/images/favicon.png")             
    body
        nav
        ul
            li
            a(href='') Home
            li
            a(href='') Events
            li#last
            a(href='') Gallery
            li(style='float:right')
            a(href='') Log In
            li(style='float:right')
            a(href='') Register
