html(lang="bg")
    head
        meta(charset="UTF-8")
        block page-title
        link(rel="stylesheet", href="./libs/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="./static/styles/main.css")  
        link(rel="shortcut icon" type="image/x-icon" href="./static/images/favicon.png")
#everything        
    header
            if result.user
                nav
                    ul
                        li
                            a(href='/') Home
                        li
                            a(href='/events') Events
                        li
                            a(href='/users') Users
                        li#last
                            a(href='/reservation') Make a Reservation
                        li(style='float:right')
                            a(href='/logout') Logout
                        li(style='float:right')
                            a(href='/profile') Hello, !{result.user.username}
            else
                nav
                    ul
                        li
                            a(href='/') Home
                        li
                            a(href='/events') Events
                        li#last
                            a(href='/users') Users
                        li(style='float:right')
                            a(href='/login') Log In
                        li(style='float:right')
                            a(href='/register') Register

    block content
