extends ../_layout

block content
    #user
        h1 username
        ul
            li
                | First Name:
            li
                | Last Name:
            li
                | E-mail:
