extends ../_layout

block content
    img#userback(src="https://s-media-cache-ak0.pinimg.com/originals/08/65/79/08657961e9b7c8dfcde74d2fc0af46b2.jpg", alt="")
    #users
        ul
            each user in users
                li
                   a(href="/users/"+user._id)
                       =user.username
