extends ../_layout

block content
    #users
        ul
            each user in users
                li
                    a(href="/users/"+user._id)
                                    =user.username
