extends ../_layout

block content
    #user
    h1 Username: 
        =user.username
    ul
        li First Name: 
            =user._firstname
        li Last Name: 
            =user._lastname
        li E-mail: 
            =user._email
