extends ../_layout

block content

    #Events
        ul
            each event in events
                li
                    h1 
                        =event.name
                    h2 Place: 
                        =event.place
                    h2 Time:
                        =event.time
                    h2 
                        =event.description
