extends ../_layout

block content
        img#gallery1.pic(src='https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/18198281_428630414167547_8997952826091660857_n.jpg?oh=c9653faddf66d77bdf2a719f093ba6be&oe=59FCA538')
        img#gallery2.pic(src='https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/13076648_231185877245336_5447094399589150317_n.jpg?oh=386e7c7e625bc9ba04dda5d4c94d6f93&oe=5A010792')
        img#gallery3.pic(src='https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/14448765_312189742478282_1564679326148880061_n.jpg?oh=809b9eb17fac2c99e50ea358d9dbab19&oe=5A38230E')

        script(src='./static/scripts/photoschanger.js')