nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8B008B;
}
nav ul{
    padding-top:0px;
    width: 100%;
    position: fixed;
}
body{
    background: #333;
}
nav li {
    float: left;
    border-right:1px solid #bbb;
}

nav li#last {
    border-right: none;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

nav li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
}

#ul{
    padding: 50px;
}
#user{
    position: absolute;
    right:25%;
    height: 45%;
    width: 50%;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #8B008B;
}
#user h1{
    border: 1px solid white;
    border-radius: 10px;
    margin-top:0px;
    padding:15px;
}