.container {
    padding-top: 15%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8B008B;
}
nav ul{
    padding-top:0px;
    width: 100%;
    position: fixed;
}
body{
    background: #333;
}
nav li {
    float: left;
    border-right:1px solid #bbb;
}

nav li#last {
    border-right: none;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

nav li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
}